@import "site.css";

header {
    height: 125px;
}

.crud-nav .items-wrapper > * {
    display: inline-block;
    padding: 10px 0 10px 0;
    font-size: 18px;
    text-align: center;
}

.crud-nav .menu-item {
    width: 100px;
}

.crud-nav .menu-item a:hover {
    color: #0f09ec;
}

.active-nav-item,
.active-nav-item a {
    background-color: #2f3438;
    color: #bf0000;
}

.crud-body-header {
    text-align: center;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    text-align: center;
}

.crud-table {
    margin-top: 40px;
}

.crud-table th {
    border-left: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
    border-top: 2px solid lightgray;
    width: 250px;
    height: 40px;
    min-height: 50px;
    text-align: center;
}

.crud-table td {
    width: 250px;
    padding: 10px 0 10px 0;
    border-left: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
}

.crud-table .last {
    border-right: 2px solid lightgray;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.crud-label {
    margin-top: 10px;
}

.default-crud-field {
    border: 2px solid #a9a9a9;
    border-radius: 5px;
    height: 45px;
    width: 230px;
    padding-left: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

.default-crud-textarea {
    overflow: auto;
    resize: none;
    border: 2px solid #a9a9a9;
    border-radius: 5px;
    padding-left: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

/* MEDIA */

@media (max-width: 991px) {
    .default-crud-field {
        width: 100%;
    }
}