<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security-4.1.xsd">

    <beans:import resource="dispatcher-servlet.xml"/>

    <http authentication-manager-ref="authManager" use-expressions="true" auto-config="false">
        <session-management>
            <concurrency-control expired-url="/admin" />
        </session-management>
        <intercept-url pattern="/crud/products/**" access="hasRole('ROLE_ADMIN')"/>
        <intercept-url pattern="/admin/register/**" access="hasRole('ROLE_ADMIN')"/>
        <form-login login-page="/admin"
                    username-parameter="username"
                    password-parameter="password"
                    default-target-url="/crud/products"
                    authentication-failure-url="/admin"/>
    </http>

    <authentication-manager id="authManager">
        <authentication-provider user-service-ref="customUserService">
            <password-encoder ref="passwordEncoder" />
        </authentication-provider>
    </authentication-manager>

</beans:beans>